body {
    margin: 0px;
    margin-bottom: 16px;
}

#h0 h1 {
    text-shadow: 1px 1px 1px var(--c4);
    font-weight: bolder;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 44px;
}

.container {
    background-color: var(--c2);
    max-width: 89%;
    min-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-shadow: 0px 0px 1px 2px var(--c3);
    border-radius: 10px;
}

div {
    font-size: small;
}

h1 {
    font-size: large;
}

#redirects ul li {
    display: block;
    list-style-type: none;
}

#redirects ul li a {
    font-size: x-large;
}

.info ul {
    font-size: small;
}